#footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap-reverse;
    padding-block: 8px;
    background-color: rebeccapurple;

    
}
#footer section:first-child{
    min-width: 480px;
    width: 75%;
    height: 480px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    

}
#footer aside {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;

    
    gap: 64px;
}
#footer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer form input {
    padding: 8px;
}

#footer form input[type=submit] {
    color: black;
    background-color: greenyellow;
    cursor: pointer;
    transition: all 0.33s ease-in-out;
}
#footer form input[type=submit]:hover {
    color: white;
    background-color: green;
}
