@import url(./reseter.css);
@import url(./iconColors.css);

@import url(./main/navbar.css);
@import url(./main/landing.css);
@import url(./main/special.css);
@import url(./main/services.css);
@import url(./main/footer.css);

/* Importa icones NerdFont */

@import "../nerdFont.css";

.separated {
    position: relative;
    margin-top: 32px;
}

.separated ::before {
    position: absolute;
    content: "";
    z-index: 50;
    background-color: white;
    width: 80%;
    height: 2px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}