* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;

    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: white;
    
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}

a.button{
    background-color: greenyellow;
    transition: all 0.4s ease-in-out;

    color: black;
    text-decoration: none;
    cursor: pointer;
    padding: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.75);
    
}
a.button:hover{
    background-color: green;
    color: white;
}
a.button.rounded {
    border-radius: 9999px;
}

h1{
    font: bold max(36px, 4vw) / max(48px,5vw);
}


iframe {
    border-radius: inherit;
}